body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #242424;
  color: #fff;
}
.nav-container {
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 10px;
}
.nav1 {
  /* border: 2px solid #fff; */
  background-color: #333333;
  padding: 10px;
}
.nav1 ul {
  list-style-type: none;
  display: flex;
  /* the default behavior of flex is to move everything from left to right on the web screens */
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.nav1 li {
  display: inline;
}
.nav1 a {
  text-decoration: none;
  color: #fff;
  /* background-color: #1a1a1a; */
  padding: 5px 15px;
  position: relative;
}
.nav1 .login-btn {
  background-color: #d82c2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}
.nav1 a::after {
  content: ""; /*can fill anything, any type of content in "" like xyz, abc, ... */
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #0651a1;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav1 a:hover::after {
  transform: scaleX(1);
}

/* nav2 */
.nav2 {
  /* border: 2px solid red; */
  background-color: #294b6c;
  width: 200px;
  padding: 20px;
}
.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav2 li {
  margin-bottom: 10px;
}
.nav2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  width: 100%;
}
.nav2 a:hover {
  background-color: #ffffff48;
}
.nav2 .login-btn {
  background-color: #041b6edc;
  border: none;
  color: #fff;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}
.nav2 .login-btn:hover {
  background-color: #3a32e2;
  border: 1px solid white;
  border-radius: 2px;
}

/* nav3 */
.nav3 {
  /* margin: 0; */
  padding: 10px;
  /* border: none; */
  background-color: #ebe3c952;
}
.nav3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav3 a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
.nav3 .dropDown-content {
  display: none;
}
.nav3 .dropDown-content a:hover {
  background-color: #348b94a5;
}
.nav3 li {
  padding: 0;
  margin: 0;
  /* background-color: #aa1313; */
}
.nav3 .dropDown:hover .dropDown-content {
  display: block;
  position: absolute;
  background-color: #ebe3c952;
  min-width: 150px;
}
