html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(100deg, #133c55, #386fa4);
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
nav {
  background-color: #133c55;
  padding: 20px 20px;
  height: 18px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
nav ul li {
  display: inline-block;
  cursor: pointer;
  color: white;
  margin: 0 15px;
}
main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84d2f6;
  color: #133c55;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  max-width: 500px;
}
.card .img img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  display: block;
}
.card h2 {
  margin: 10px 0 5px;
  font-size: 1.5em;
  display: block;
}
.card p {
  font-size: 0.95em;
  color: #fff;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.buy {
  background-color: #386fa4;
  color: #fff;
}
.buy:hover {
  background-color: #2f5b88;
}
.wishlist {
  background-color: #59a5d8;
  color: #fff;
}
.wishlist:hover {
  background-color: #4a90ba;
}
footer {
  display: block;
  align-items: end;
  background-color: #133c55;
  color: white;
  text-align: center;
  padding: 15px 10px;
}
footer a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}
footer p {
  margin-top: 10px;
  font-size: 0.8em;
}
.img {
  max-width: 100px;
  max-height: 100px;
  display: flex;
  justify-content: left;
  align-items: end;
}
